@using System.Web.Razor.Parser.SyntaxTree
@using AddressBook.Extensions
@using AddressBook.Models
@model AddressBook.Models.Contact


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Contact</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.FirstName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FirstName)
            @Html.ValidationMessageFor(model => model.FirstName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LastName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LastName)
            @Html.ValidationMessageFor(model => model.LastName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AddressLine)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AddressLine)
            @Html.ValidationMessageFor(model => model.AddressLine)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.City)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.City)
            @Html.ValidationMessageFor(model => model.City)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PostCode)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PostCode)
            @Html.ValidationMessageFor(model => model.PostCode)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PhoneNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PhoneNumber)
            @Html.ValidationMessageFor(model => model.PhoneNumber)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DateOfBirth)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DateOfBirth, new { @class = "date" })
            @Html.ValidationMessageFor(model => model.DateOfBirth)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IsFavorite)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IsFavorite)
            @Html.ValidationMessageFor(model => model.IsFavorite)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AssignedTo)
        </div>
        <div class="editor-field">
            @foreach (Contact.Group group in Enum.GetValues(typeof(Contact.Group)))
            {
                if (group.ToString() != "Default")
                {
                <span>
                    @Html.RadioButtonFor(model => model.AssignedTo, group) @group.ToString()
                </span>      
                }
                else
                {
                <span>@Html.RadioButtonFor(model => model.AssignedTo, group) Other
                </span>
                }
            }

            @Html.ValidationMessageFor(model => model.IsFavorite)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Sex)
        </div>
        <div class="editor-field">
           
            @Html.DropDownListFor(model => model.Sex, Model.Sex.ToSelectList())
        </div>
        <div>
            @Html.TextBox("aa", (DateTime.Now).ToString("dd/MM/yyyy"), new { @class = "date" })
        </div>
        <p>
            <input type="submit" value="Create" />
        </p>

    </fieldset>
}

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/Scripts/AddressBook/AddOrEditContact.js")
